.cart-container{
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.cart-orders{
    margin-top: 3vh;
    max-height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;      
    width: 50%;    
}

.cart-summary{
    margin-top: 5vh;
    width: 50%;
}

.cart-subtitle{
    color: #C65D1A;
    margin-top: 5vh;
}

.cart-summary-description{
    display: flex;
    margin-top: 2vh;
    gap: 10px;
    margin-top: 2vh;
    font-size: 15px;
    width: 100%;
    justify-content: space-between;
   
}

.cart-summary-text{
    text-align: left;    
}

.cart-summary-prices{
    text-align: end;   
}

.cart-summary-button-container{
    margin-top: 5vh;
    text-align: center;
}

.cart-summary-advertisement{
    color: #C65D1A;
    text-align: center;
    margin-top: 15vh;
    font-size: 20px;
}

/* Media Queries */

@media (max-width: 425px) {
    /* Estilos para pantallas menores a 480px */
    
  }
  
  /* Pantallas pequeñas (móviles en paisaje) */
  @media (min-width: 426px) and (max-width: 768px) {
    /* Estilos para pantallas entre 481px y 768px */
    
    
  }
  
  /* Pantallas medianas (tabletas) */
  @media (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para pantallas entre 769px y 1024px */
    
  }
  
  /* Pantallas grandes (escritorios pequeños) */
  @media (min-width: 1025px) and (max-width: 1280px) {
    /* Estilos para pantallas entre 1025px y 1280px */
    
  }
  
  /* Pantallas extra grandes (escritorios grandes) */
  @media (min-width: 1281px) {
    /* Estilos para pantallas mayores a 1280px */
    
  }