.tablaUsuarios {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 5%;
}

.tablaUsuarios ul {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 0;
    background-color: #fff9;
}

.tablaUsuarios li {
    flex: 1;
    text-align: center;
    padding: 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-bar{
    width: 15vw;
    margin-left: 42.5vw;
}
.App{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1, h2{
    overflow: hidden;
}