.card-layout{
  width: 50vw;
}


.modal-header {
  padding: 0 !important;
  position: relative;
}

.modal-header .btn-close {
  position: absolute;
  color: #c65d1a !important;
  border-color: transparent;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.modal-header .btn-close:hover {
  color: #c65d1a !important;
}

.counterButton:hover {
  cursor: pointer;
}

.values-container{
  text-align: left;
}

/* Media Queries */

@media (max-width: 425px) {
  /* Estilos para pantallas menores a 480px */
  
}

/* Pantallas pequeñas (móviles en paisaje) */
@media (min-width: 426px) and (max-width: 768px) {
  /* Estilos para pantallas entre 481px y 768px */

  .card-layout{
    width: 25vw;
  }
  
}

/* Pantallas medianas (tabletas) */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para pantallas entre 769px y 1024px */
  .card-layout{
    width: 25vw;
  }
  
}

/* Pantallas grandes (escritorios pequeños) */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* Estilos para pantallas entre 1025px y 1280px */
  .card-layout{
    width: 25vw;
  }
}

/* Pantallas extra grandes (escritorios grandes) */
@media (min-width: 1281px) {
  /* Estilos para pantallas mayores a 1280px */
  .card-layout{
    width: 15vw;
  }
}
