.export-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

#report-titulo {
  color: #c65d1a;
  overflow: hidden;
}

.report-container {
  text-align: center;
  margin-top: 1em;
}

.table-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

/* Media Queries */

@media (max-width: 480px) {
  /* Estilos para pantallas menores a 480px */
  .table-container {
    font-size: x-small;
  }
  .table-container {
    display: block;
    overflow: scroll;
  }
}

/* Pantallas pequeñas (móviles en paisaje) */
@media (min-width: 480px) and (max-width: 768px) {
  /* Estilos para pantallas entre 481px y 768px */
  .table-container {
    font-size: small;
  }
}

/* Pantallas medianas (tabletas) */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para pantallas entre 769px y 1024px */
}

/* Pantallas grandes (escritorios pequeños) */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* Estilos para pantallas entre 1025px y 1280px */
}

/* Pantallas extra grandes (escritorios grandes) */
@media (min-width: 1281px) {
  /* Estilos para pantallas mayores a 1280px */
}
